<SCRIPT language=JavaScript>
  <!--
  function MM_swapImgRestore() { //v3.0
    var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
  }
  function MM_preloadImages() { //v3.0
    var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
      var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
      if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
  }
  function MM_findObj(n, d) { //v3.0
    var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
      d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
    if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
    for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document); return x;
  }
  function MM_swapImage() { //v3.0
    var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
     if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
  }
  //-->
  </SCRIPT>

{% extends "base.html" %}
{% load tag %}
{% block content %}
{% if subject_id == 1 %}
    <div class="sectiontitle">
      <h1 class="heading"> <i class="fa fa-universal-access" aria-hidden="true"></i> {{lesson_list.0.0}} </h6>
        何榮桂、高慧君著 翰林出版
    </div>
    <hr>
    <a href="https://studio.code.org/hoc/1" target="_blank">1小時學程式設計(Hour of Code)：經典迷宮</a>(Code.org製作)
    <BR>  
    <BR>
    <div class="row">
      {% for unit in lesson_list.0.1 %}
      <div class="col-md-3">
        <h4 class="nospace heading">{{unit.0}}({{unit.1|length}}) <i class="fa fa-hand-o-left" aria-hidden="true"></i> </h4>
        <ul class="nospace">
          {% for assignment in unit.1 %}
					<li><a href="/student/lesson/1/{{forloop.parentloop.counter}}/{{assignment.2}}">{{assignment.0}}{{workfiles}}{% if assignment|last %}<img src="/static/images/done.png">{% endif %}</a></li>
          {% endfor %}
        </ul>
        <p></p>
      </div>
      {% endfor %}    
				{% if user.is_authenticated %}      
      <div class="col-md-2">
        <h4 class="nospace heading">問卷篇(2)</h4>
        <ul class="nospace">
          <li><a href="/survey/pre_survey/">課前問卷{% if request.user.id|pre_survey_done %}<img src="/static/images/done.png">{% endif %}</a></li>
          <li><a href="/survey/post_survey/">課後問卷{% if request.user.id|post_survey_done %}<img src="/static/images/done.png">{% endif %}</a></li>          
        </ul>
      </div>      
      {% endif %}
    </div>
    <hr>
    <div class="row">
    <div class="col-md-6"><!--本課程請搭配翰林版資訊科技課本使用<--></div>
    <div class="col-md-6" align=right><a href="https://scratch.mit.edu/projects/editor/" target="_blank"><img src="/static/images/online.png"></a></div></p>
    </div>
  </div>
 
{% endif %}
{% endblock %}